header {
    background-color: #333;
    padding: 20px 0;
    box-shadow: 0 4px 2px -2px gray;
    border-bottom: 4px solid #4CAF50;
  }
  
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header ul li {
    display: inline;
    margin: 0 20px;
    padding: 10px 10px;
  }
  
  header ul li a {
    color: rgb(159, 26, 26);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  header ul li a:hover {
    color: #4c1c9e;
  }
  
  @media (max-width: 600px) {
    header ul li {
      display: block;
      margin: 10px 0;
    }
  }
  