header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 0 4px 2px -2px gray;
    border-bottom: 4px solid #4CAF50;
  }
  
  header ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  header ul li {
   display: inline; 
    margin: 10px 10px;
    padding: 8px;
  }
  
  header ul li a {
    color: rgb(159, 26, 26);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  header ul li a:hover {
    color: #4c1c9e;
  }
  
    @media (max-width: 768px){
      header {
        justify-content: center;
      }
    header ul {
      flex-direction: column;
    }
  }
  
